@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto; /* 高さをautoに変更 */
    min-height: 100vh; /* 最低高さを100vhに設定 */
    overflow-x: hidden; /* 横スクロールを非表示にする */
}

.logo {
    margin-top: 20px;
    margin-left: -1050px;
}

/* ナビゲーションのスタイル*/
nav {
    background-color: rgb(244, 244, 244);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1255px;
    margin: 20px auto;
    border-radius: 5px;
}
/*リストのスタイル*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
}
/*各リンクのデザイン*/
nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: rgb(244, 244, 244);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(244, 244, 244);
    border-right: 2px solid rgb(226, 226, 226);
}
/*ホバー時*/
nav ul li a:hover {
    background-color: white;
}
/*アクティブ時*/
nav ul li a:active {
    background-color: white;
    color: #333; /* クリック時の文字色 */
}


/*メイン画像*/
.main {
    transform: scale(1.4);
    width: 100%;
    margin: 65px auto;
    text-align: center;
}
/*サンプルテキスト*/
.sample {
    width: 100%;
    max-width: 590px;
    text-align: left;
    margin-left: -660px;
}
/*サイドテキスト*/
.side {
    width: 100%;
    max-width: 530px;
    padding: 0 60px 30px 20px;
    margin-top: -260px;
    margin-left: 650px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.side h1 {
    font-size: 22px;
}
/*横並びにしたい要素*/
.yen1, .play1 {
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.side p {
    margin-left: 10px;
}

/*フッター下線部*/
hr {
    width: 1255px;
    margin: 40px auto;
}

/*フッター*/
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    margin: -65px auto;
    padding: 20px;
}
.footer1 h1, .footer2 h1, .footer3 h1 {
    font-size: 24px;
}
.footer1 p, .footer2 p, .footer3 p {
    padding-right: 20px;
}


.company {
    color: rgb(128, 128, 128);
    text-align: center;
    margin-top: 100px;
}
